

html {
  background: url('../assets/nicelawn.png') no-repeat center center fixed;
  /* background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed; */
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  margin: 0;
}
/* // header includes .score-items #score and #timer and title  */
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Whack-a-Mole! text */
#title {
  -webkit-text-stroke: #ef5168 2.4px;
  text-align: center;
  font-size: 70px;
  color: white;
}

/* .score-items are score and timer */
.score-item {
  width: 300px;
  height: 150px;
  border: solid 8px #f93351;
  border-radius: 50px;
  border: double 10px yellow;
  flex: center;
  text-align: center;
  margin: 0 40px 0 40px;
  padding: 10px 10px 10px 10px;
  color:#f93351;
  -webkit-text-stroke: white 1.3px;
  font-size: 50px;
  /* background-image: linear-gradient(to left, #fff829, rgb(235, 57, 255)); */
}

.score-item:nth-of-type(1) {
  text-align: center;
}

.score-item:nth-of-type(2) {
  text-align: center;
}

/* Click start to play, score count, timer count */
main {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 2px teal;
}

#middleinfo {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 2cm;
  }
  
  middleinfo > * {
    flex: 1;
  }

section button {
  text-align: center;
  -webkit-text-stroke: teal 10px;
  -webkit-text-fill-color: greenyellow;
  -webkit-text-stroke-width: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  }
.difficulty-btn {

    width: 200px;
    height: 50px;
    font-size: 39px;
    border: solid 6px #f93351;
    background-image: linear-gradient(to left, #fff829, rgb(235, 57, 255));
    border-radius: 10px;
    padding-bottom: .6cm;

  }

.difficulty-btn:hover {
  border: solid 5px teal;
  background-color: greenyellow;
  -webkit-text-stroke: #f93351 2px;
  -webkit-text-fill-color: white;
}
  

#start {
  width: 600px;
  height: 200px;
  font-size: 80px;
  border: solid 10px #f93351;
  border-radius: 20px;
  background-image: linear-gradient(to left, rgb(235, 57, 255), #fff829);
}

#start:hover {
  border: solid 10px teal;
  background-color: greenyellow;
  -webkit-text-stroke: #f93351 2.5px;
  -webkit-text-fill-color: white;
}


.grid {
  border: double 20px yellow;
  border-radius: 50px;
  background-image: linear-gradient(to left, #9ee22a, rgb(147, 211, 177));
  padding: 10px 10px 10px 10px;
  width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('../assets/mallet.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("../assets/hole.png") bottom center no-repeat;
  background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  background:url('../assets/mole.png') bottom center no-repeat;
  background:url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);
}
#difficulty .difficulty-btn button.selected {
  border: solid 10px #16ff00
}